*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;

}
body{
    height: 100% ;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.Container{
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}
.container2{
    width: 100%;
    position: absolute;
    left: 150px;
    right: 0;
    top: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 80%; 
    width: 17.5%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 0;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar_menu{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 20px;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #1F4F70;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;
    
}
a{ 
    text-decoration: none; 
    color: #1F4F70;
}
a:link{ 
    text-decoration: none; 
    color: #1F4F70;
}
a:hover{ 
    text-decoration: none; 
    color: white;
}
.sidebar_menu:hover,.form sidebar_menu:active,.form sidebar_menu:focus {
    background: #57B9D4;
    border-radius: 10px;
    width: 80%;
    margin-left: 10px;
    color: white;
  }
.sidebar_menu i{
    padding-left: 30px;
    padding-right: 10px;
}


#setting{
    margin-top: auto;
    margin-bottom: 20px;
}
.blank{
    width: 76%; 
    box-sizing: border-box;
    height: auto;
    background-color: white; 
    flex-direction: row;
    right: 0;
    margin-right: 0;
    margin-left: 154px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.Menu{
    display: flex;
    flex-direction: column;
}
.Judul{
    padding-left: 10px;
}
.Judul p{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.Judul p span{
    font-size: 40px;
}

#Icon{
    height: 50px;
    margin-left: 10px;
}
#thumbnail_news{
    width: 49%;
    margin-right: 10px;
}
.nav{
    margin-left: 30px;
    padding-top: 30px;
    color: #1F4F70;
    font-size: 18px;
    font-weight: 550;
}
.nav a{
    text-decoration: none;
    color: #1F4F70;
}
center{
    padding-top: 20px;
    color: #1F4F70;
    font-size: 20px;
}
center h5{
    color: #57B9D4;
}

center img {
    width: 1040px;
    height: 402px;
}
.penulis {
    margin-bottom: 10px;
    font-weight: 600;
}
#body {
    text-align: left;
    width: auto;
    margin-left: 20px;
    margin-right: 5px;
}
#text{
    width: auto;
}