*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;

}
html,
body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: center;
    z-index: 99;
}
.navigation {
    margin-right: 200px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #1f4f70;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40px;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #57b9d4;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.navigation a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}
.logo span {
    font-weight: bold;
    font-size: 40px;
}
#Go {
    color: #1f4f70;
}
#Well {
    color: #57b9d4;
}
.Logo2 {
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    top: 270px;
    left: 460px;
    text-shadow: 1px 1px 50px grey;
}
.tagline {
    font-size: 60px;
    color: #1f4f70;
}
.section-1 {
    display: flex;
}
.section-1 img {
    filter: opacity(40%);
    display: flex;
}
.section-2 {
    display: flex;
    flex-direction: column;
    font-weight: 540;
    color: #1f4f70;
    font-size: 35px;
}
.container-news {
    display: flex;
    flex-direction: row;
    width: 1204px;
    height: 363px;
    margin-left: 130px;
}
.box-news {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.thumbnail {
    height: 60%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.thumbnail img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.isi {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
}
.isi center {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.section-3 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.section-3 p {
    font-weight: 540;
    color: #1f4f70;
    font-size: 35px;
}

.container-count {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    width: 1200px;
    height: 300px;
    background-color: #8abed2;
    border-radius: 30px;
}
.box-count {
    width: 420px;
    height: 93%;
    margin-top: 10px;
    margin-left: 10px;
}
.box-count form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-count input {
    text-align: center;
    border-radius: 10px;
    outline: 0;
    color: #aaaaaa;
    background: #ffff;
    width: 400px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 545;
}

#Count {
    background-color: #4699ce;
    color: #ffff;
}
#Hitung-reset {
    background-color: #1f577b;
    color: #ffff;
}
#fr textarea {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
    border-radius: 10px;
    background-color: transparent;
    border: 0;
    font-size: 20px;
}
#fr {
    margin-top: 0;
}
.section-4 {
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.about-us-text {
    margin-left: 40px;
    margin-top: 30px;
    position: absolute;
    font-size: 22px;
    font-weight: 550;
}
.about-us-text h1 {
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 70px;
}
