*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;

}
body{
    height: 100% ;
    width: 100%;
    background-color: aliceblue;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.Container{
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}
.container2{
    width: 75.5%;
    position: absolute;
    left: 150px;
    top: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 80%; 
    width: 21%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 0;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar_menu{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 20px;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #FF4F00;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;
    
}
a{ 
    text-decoration: none; 
    color: #FF4F00;
}
a:link{ 
    text-decoration: none; 
    color: #FF4F00;
}
a:hover{ 
    text-decoration: none; 
    color: white;
}
.sidebar_menu:hover,.form sidebar_menu:active,.form sidebar_menu:focus {
    background: #FFA300;
    border-radius: 10px;
    width: 80%;
    margin-left: 10px;
    color: white;
  }
.sidebar_menu i{
    padding-left: 30px;
    padding-right: 10px;
}


.blank{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: absolute;
    width: 99%; 
    box-sizing: border-box;
    height: auto;
    background-color: white; 
    flex-direction: column;
    margin-left: 180px;
    margin-right: 40px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.Judul{
    padding-left: 10px;
}
.Judul p{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.Judul p span{
    font-size: 40px;
}
.Judul b{
    color: #FF4F00;
}
#settings{
    margin-top: auto;
    margin-bottom: 20px;
}
#Log-Out{
    font-weight: bold;
    color: #FF4F00;
}
button{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-color: transparent;
}