
body{
    height: 100% ;
    width: 100%;
    background-color: gray;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.Container{
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}
.container2{
    width: 100%;
    position: absolute;
    left: 150px;
    top: 10px;
}
.sidebar{
    background-color: white;
    border-radius: 10px; 
    height: 65%; 
    width: 300px;
    position: fixed;
}
.sidebar_menu button{
    margin-top: 10px;
    border-radius: 20px;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #1F4F70;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.sidebar_menu button:hover,.form button:active,.form button:focus {
    background: #57B9D4;
  }
.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar_menu{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    
}
.blank{
    width: 76%; 
    box-sizing: border-box;
    height: auto;
    background-color: white; 
    border-radius: 10px; 
    flex-direction: row;
    margin-left: 180px;
    margin-right: 40px;
}
.container3{
    display: flex;
    padding-left: 10px;
}
.data_shape{
    width: 200px;
    height: 250px;
    background-color: #57B9D4;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.column p{
    font-weight: bold;
    color: aliceblue;
}
.bar{
    margin-top: 20px;
    margin-left: 70px;
}
a:link { 
    text-decoration: none; 
}



.Menu{
    display: flex;
    flex-direction: column;
}
.Judul{
    padding-left: 10px;
}
.Judul p{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.Judul p span{
    font-size: 40px;
}

#Icon{
    height: 50px;
    margin-left: 10px;
}
#jenis{
    font-size: 25px;
    margin-bottom: 0;
}
#angka{
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
}
#satuan{
    font-size: 20px;
}