
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;

}
body{
    height: 100% ;
    width: 100%;
    background-color: aliceblue;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.Container{
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}
.container2{
    width: 100%;
    position: absolute;
    left: 150px;
    top: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 80%; 
    width: 17.5%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 0;
}
.sidebar-nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar_menu{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 20px;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #1F4F70;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0;
    
}
a{ 
    text-decoration: none; 
    color: #1F4F70;
}
a:link{ 
    text-decoration: none; 
    color: #1F4F70;
}
a:hover{ 
    text-decoration: none; 
    color: white;
}
.sidebar_menu:hover,.form sidebar_menu:active,.form sidebar_menu:focus {
    background: #57B9D4;
    border-radius: 10px;
    width: 80%;
    margin-left: 10px;
    color: white;
  }
.sidebar_menu i{
    padding-left: 30px;
    padding-right: 10px;
}


#setting{
    margin-top: auto;
    margin-bottom: 20px;
}
.box {
    width: 76%;
    box-sizing: border-box;
    height: 1000px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
a:link {
    text-decoration: none;
}

.Menu {
    display: flex;
    flex-direction: column;
}
.Judul {
    padding-left: 10px;
}
.Judul p {
    padding-left: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.Judul p span {
    font-size: 40px;
}

#Icon {
    height: 50px;
    margin-left: 10px;
}
.profile-picture {
    margin-top: 20px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-left: 40px;
    object-fit: cover;
}
.profile-box {
    display: flex;
    flex-direction: row;
}
.profile-desc {
    color: #1f4f70;
    margin-left: 40px;
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}
.profile-column {
    display: flex;
    flex-direction: column;
}
.profile-button {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.profile-button .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    margin-right: 20px;
    border-radius: 10px;
    padding-top: 10px;
    border-color: transparent;
    background-color: #57b9d4;
}

.profile-button .button p {
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.blue-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 30px;
    width: 960px;
    height: auto;
    border-radius: 30px;
    background-color: #57b9d4;
}
.data_shape{
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.column p{
    font-weight: bold;
    color: #57b9d4;
}
#jenis{
    font-size: 25px;
    margin-bottom: 0;
}
#angka{ 
    border: none;
    text-align: center;
    width: 100%;
    color: #57b9d4;
    font-weight: bold;
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 0;
}
#angka:focus{
    outline: none;
}
#periode{
    width: 80%;
    color: #57b9d4;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #57B9D4;
    box-shadow: none;
    border-radius: 10px;
}
#periode:focus{
    outline: none;
}