body {
    height: 100%;
    width: 100%;
    background-color: gray;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
.Container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.container2 {
    width: 100%;
    position: absolute;
    left: 150px;
    top: 10px;
}
.sidebar {
    background-color: white;
    border-radius: 10px;
    height: 65%;
    width: 300px;
    position: fixed;
}
.sidebar_menu button {
    margin-top: 10px;
    border-radius: 20px;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 0;
    padding: 5px;
    color: #1f4f70;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.blank h1,
h5 {
    font-family: "Montserrat", sans-serif;
}
.blank {
    display: flex;
    position: relative;
    width: 80%;
    box-sizing: border-box;
    height: 97vh;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 40px;
    margin-bottom: 30px;
    padding: 20px;
    flex-wrap: wrap;
}
.sidebar_menu button:hover,
.form button:active,
.form button:focus {
    background: #57b9d4;
}
.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar_menu {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
}
.Menu {
    display: flex;
    flex-direction: column;
}
.Judul {
    padding-left: 10px;
}
.Judul p {
    padding-left: 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.Judul p span {
    font-size: 40px;
}

#Icon {
    height: 50px;
    margin-left: 10px;
}

.rekom-dokter {
    font-weight: 700;
    font-size: 35px;
}
.cont-dokter {
    width: 300px;
}
.cont-chat button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
}
.container {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #57b9d4;
    padding: 20px;
    border-radius: 40px;
    gap: 20px;
    position: relative;
    margin-left: 50px;
}
.box-foto img {
    width: 120px;
    border-radius: 50%;
}
.box-text {
    display: flex;
    flex-direction: column;
}
